<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvgv70.mtcvolume"
    android:versionCode="2700"
    android:versionName="@string/app_version" 
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <service
            android:name="ServiceMain"
            android:enabled="true"
            android:icon="@drawable/ic_launcher" 
            android:label="ServiceMain" 
            android:logo="@drawable/ic_launcher" 
            android:permission="android.permission.MODIFY_AUDIO_SETTINGS">
            <intent-filter >
            	<action android:name="com.mvgv70.mtcvolume"></action>
            </intent-filter>
        </service>
        
        <receiver
            android:name="ReceiverBluetooth"
            android:enabled="true" 
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.bt.report" />
                <action android:name="com.microntek.playpausemusic" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ReceiverBoot"
            android:enabled="true" 
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.startApp" />
                <action android:name="android.intent.action.BOOT_COMPLETED" /> 
  		<action android:name="android.intent.action.QUICKBOOT_POWERON" /> 
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverSafeVolume"
            android:enabled="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.acc" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverNavitel"
            android:enabled="true" 
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.acc" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverAppVolume"
            android:enabled="true" 
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.canbusdisplay" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverSpeed"
            android:enabled="true" >
        </receiver>
        
        <receiver
            android:name="ReceiverBrightness"
            android:enabled="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.microntek.startApp" />
                <action android:name="com.mvg_v70.brightness" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverTime"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverCoord"
            android:enabled="true" >
        </receiver>
        
        <receiver
            android:name="ReceiverBackView"
            android:exported="false"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.microntek.backviewend" />
                <action android:name="com.microntek.videosignalchange" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverKeys"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.microntek.irkeyDown" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ReceiverScreenSaver"
            android:exported="false"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.music.querystate" />
                <action android:name="com.microntek.musicclockreset" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ActivityMain"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="ActivitySettings"
            android:label="@string/app_settings"
            android:launchMode="singleTop" >
        </activity>
    </application>

</manifest>
